---
title: Mazes
---

%h1 Mazes

#container

:coffee
  $ ->
    grid = new window.Grid(20, 20)
    window.BinaryTree.on(grid)

    paper = Raphael("container", 500, 500);
    $('.container').html(grid.draw(paper))
