---
title: Mazes
---

%h1 Text grid rendering

.text-grid

:coffee
  $ ->
    grid = new window.Grid(10, 10)
    # window.BinaryTree.on(grid)
    # $('.text-grid').text("all ok")
    $('.text-grid').html(grid.toString())
